*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: serif;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.header{
    width: 100%;
    padding: 10px opx;
    background: #FFFFFF;
}
.nabvar{
    display: flex;
    justify-content: space-between;
}
.nabvar .logo img{
    width: 100px;
}
.nabvar .menu{
    display: block;
    
}
.nabvar .menu li{
    list-style: none;
    display: inline-block;
    margin: 30px 0px 0px;
}
.nabvar .menu li a{
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 0px 15px;
    text-transform: capitalize;
}
.buttons{
    display: block;
}
.buttons .btn-primary{
    display: inline-block;
    padding: 10px 30px;
    background: #2E377E;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0px 0px;
}
.banner{
    width: 100px;
    padding: 80px 0px;
    justify-content: space-between;
}
.inner-banner{
    display: flex;
    align-items: center;

}
.inner-left{
    flex-basis: 50%;

}
.inner-left h1{
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    color: #2E377E;
    margin: 0px opx 10px;
}
.inner-left h5{
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: #2E377E;
}
.inner-left .btn-primary{
    display: inline-block;
    padding: 15px 30px;
    background: #2E377E;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0px 0px;
    border-radius: 5%;
    text-transform: capitalize;
}
.inner-right{
    flex-basis: 50%;
}
.feature{
    width: 100%;
    padding: 80px opx;
}
.inner-feature{
    display: flex;
}
.feature-box{
    display: flex;
    padding: 30px;
    margin: 0px 15px;
    border-radius: 10px;
}
.icons{
    flex-basis: 20px;
}
.icons .fa{
    font-size: 30px;
    color: #fff;
}
.content{
    flex-basis: 80%;
}
.content h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    margin: 0px 0px 15px;
}
.content p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
.bg1{
background: #F9799A;
}
.bg2{
   background:#FFFFFF ; 
}
.bg3{
   background: #1E266D;
}
